<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Citas Medica</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"> 
</head>
<body>




    <nav class="navbar navbar-expand-lg bg-primary navbar-primary">
        <div class="container">
          <a class="navbar-brand" href="#">Sistema de Citas - Hospital</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                
                {% if user.username == "roberto" %}
                <li class="nav-item">
                    <a href="/crear_area/" class="nav-link">Registrar Areas</a           
                </li>

                {% endif %}

                <li class="nav-item">
                    <a href="/" class="nav-link">Menu Principal</a>
                </li>
                
               
                {% if user.is_authenticated %}
               
                <li class="nav-item"> 
                    <a href="/citas" class="nav-link">Citas Pendientes</a>
                </li>
                
                <li class="nav-item">
                    <a href="/citas_completar" class="nav-link">Citas Completadas</a>
                </li>
    
                <li class="nav-item">
                    <a href="/citas/crear/" class="nav-link">Crear Cita</a>
                </li>
                <li class="nav-item">
                    <a href="/logout" class="nav-link">Logout</a>
                </li>
                
               
                {% else %}
                <li class="nav-item">
                    <a href="/signup" class="nav-link">Registrate</a>
                </li>
                <li class="nav-item">
                    <a href="/signin" class="nav-link">Ingresar</a>
                </li>
                              
                    
                
                {% endif %}

                

            </ul>
          </div>
        </div>
      </nav>
    

    {% block content %}
    {% endblock %}
    
</body>
</html>